environment-monitor-server/src/generated/java/MonitorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://MonitorService" name="MonitorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://MonitorService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://MonitorService" schemaLocation="MonitorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="logon">
    <part name="parameters" element="tns:logon"/>
  </message>
  <message name="logonResponse">
    <part name="parameters" element="tns:logonResponse"/>
  </message>
  <message name="getOutputChunk">
    <part name="parameters" element="tns:getOutputChunk"/>
  </message>
  <message name="getOutputChunkResponse">
    <part name="parameters" element="tns:getOutputChunkResponse"/>
  </message>
  <message name="executeCommand">
    <part name="parameters" element="tns:executeCommand"/>
  </message>
  <message name="executeCommandResponse">
    <part name="parameters" element="tns:executeCommandResponse"/>
  </message>
  <message name="getEnvironmentView">
    <part name="parameters" element="tns:getEnvironmentView"/>
  </message>
  <message name="getEnvironmentViewResponse">
    <part name="parameters" element="tns:getEnvironmentViewResponse"/>
  </message>
  <message name="executeAction">
    <part name="parameters" element="tns:executeAction"/>
  </message>
  <message name="executeActionResponse">
    <part name="parameters" element="tns:executeActionResponse"/>
  </message>
  <message name="killRunningCommand">
    <part name="parameters" element="tns:killRunningCommand"/>
  </message>
  <message name="killRunningCommandResponse">
    <part name="parameters" element="tns:killRunningCommandResponse"/>
  </message>
  <message name="getEnvironmentNames">
    <part name="parameters" element="tns:getEnvironmentNames"/>
  </message>
  <message name="getEnvironmentNamesResponse">
    <part name="parameters" element="tns:getEnvironmentNamesResponse"/>
  </message>
  <message name="addServer">
    <part name="parameters" element="tns:addServer"/>
  </message>
  <message name="addServerResponse">
    <part name="parameters" element="tns:addServerResponse"/>
  </message>
  <message name="deleteRow">
    <part name="parameters" element="tns:deleteRow"/>
  </message>
  <message name="deleteRowResponse">
    <part name="parameters" element="tns:deleteRowResponse"/>
  </message>
  <message name="deleteEnvironment">
    <part name="parameters" element="tns:deleteEnvironment"/>
  </message>
  <message name="deleteEnvironmentResponse">
    <part name="parameters" element="tns:deleteEnvironmentResponse"/>
  </message>
  <message name="saveEnvironment">
    <part name="parameters" element="tns:saveEnvironment"/>
  </message>
  <message name="saveEnvironmentResponse">
    <part name="parameters" element="tns:saveEnvironmentResponse"/>
  </message>
  <message name="renameEnvironment">
    <part name="parameters" element="tns:renameEnvironment"/>
  </message>
  <message name="renameEnvironmentResponse">
    <part name="parameters" element="tns:renameEnvironmentResponse"/>
  </message>
  <message name="restartOutputs">
    <part name="parameters" element="tns:restartOutputs"/>
  </message>
  <message name="restartOutputsResponse">
    <part name="parameters" element="tns:restartOutputsResponse"/>
  </message>
  <message name="addApplication">
    <part name="parameters" element="tns:addApplication"/>
  </message>
  <message name="addApplicationResponse">
    <part name="parameters" element="tns:addApplicationResponse"/>
  </message>
  <message name="loadApplicationByFileName">
    <part name="parameters" element="tns:loadApplicationByFileName"/>
  </message>
  <message name="loadApplicationByFileNameResponse">
    <part name="parameters" element="tns:loadApplicationByFileNameResponse"/>
  </message>
  <message name="close">
    <part name="parameters" element="tns:close"/>
  </message>
  <message name="closeResponse">
    <part name="parameters" element="tns:closeResponse"/>
  </message>
  <portType name="MonitorService">
    <operation name="logon">
      <input message="tns:logon"/>
      <output message="tns:logonResponse"/>
    </operation>
    <operation name="getOutputChunk">
      <input message="tns:getOutputChunk"/>
      <output message="tns:getOutputChunkResponse"/>
    </operation>
    <operation name="executeCommand">
      <input message="tns:executeCommand"/>
      <output message="tns:executeCommandResponse"/>
    </operation>
    <operation name="getEnvironmentView">
      <input message="tns:getEnvironmentView"/>
      <output message="tns:getEnvironmentViewResponse"/>
    </operation>
    <operation name="executeAction">
      <input message="tns:executeAction"/>
      <output message="tns:executeActionResponse"/>
    </operation>
    <operation name="killRunningCommand">
      <input message="tns:killRunningCommand"/>
      <output message="tns:killRunningCommandResponse"/>
    </operation>
    <operation name="getEnvironmentNames">
      <input message="tns:getEnvironmentNames"/>
      <output message="tns:getEnvironmentNamesResponse"/>
    </operation>
    <operation name="addServer">
      <input message="tns:addServer"/>
      <output message="tns:addServerResponse"/>
    </operation>
    <operation name="deleteRow">
      <input message="tns:deleteRow"/>
      <output message="tns:deleteRowResponse"/>
    </operation>
    <operation name="deleteEnvironment">
      <input message="tns:deleteEnvironment"/>
      <output message="tns:deleteEnvironmentResponse"/>
    </operation>
    <operation name="saveEnvironment">
      <input message="tns:saveEnvironment"/>
      <output message="tns:saveEnvironmentResponse"/>
    </operation>
    <operation name="renameEnvironment">
      <input message="tns:renameEnvironment"/>
      <output message="tns:renameEnvironmentResponse"/>
    </operation>
    <operation name="restartOutputs">
      <input message="tns:restartOutputs"/>
      <output message="tns:restartOutputsResponse"/>
    </operation>
    <operation name="addApplication">
      <input message="tns:addApplication"/>
      <output message="tns:addApplicationResponse"/>
    </operation>
    <operation name="loadApplicationByFileName">
      <input message="tns:loadApplicationByFileName"/>
      <output message="tns:loadApplicationByFileNameResponse"/>
    </operation>
    <operation name="close">
      <input message="tns:close"/>
      <output message="tns:closeResponse"/>
    </operation>
  </portType>
  <binding name="MonitorServicePortBinding" type="tns:MonitorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="logon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOutputChunk">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="executeCommand">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEnvironmentView">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="executeAction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="killRunningCommand">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEnvironmentNames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addServer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteRow">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteEnvironment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveEnvironment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="renameEnvironment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="restartOutputs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addApplication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loadApplicationByFileName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="close">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MonitorService">
    <port name="MonitorServicePort" binding="tns:MonitorServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

